[submodule "workflowfm"]
	path = workflowfm
	url = git@github.com:PetrosPapapa/WorkflowFM-Reasoner.git
[submodule "tools"]
	path = tools
	url = git@github.com:PetrosPapapa/hol-light-tools.git
[submodule "embed"]
	path = embed
	url = git@github.com:PetrosPapapa/hol-light-embed.git
